{% extends 'base.html' %}


{% block title %} 
welcome to home page
    
{% endblock title %}

{% block content %}
<section class="bg-light py-4">
    <div class="container text-center">
        <h2 class="display-4">Popular Dishes of the day</h2>
        <p>Order your favourity food and drinks now </p>
    </div>
</section> 








<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Contact Info -->
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <p>
                    <i class="fas fa-map-marker-alt"></i> 123 Ubungo Street, Food City, FC 12345<br>
                    <i class="fas fa-phone"></i> +25557947209<br>
                    <i class="fas fa-envelope"></i> stratontarimo31@gmail.com  
                </p>
            </div>
            <!-- Social Media Links -->
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <a href="https://facebook.com" class="text-white mr-3" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" class="text-white mr-3" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com" class="text-white mr-3" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://linkedin.com" class="text-white" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <!-- Additional Links -->
            <div class="col-md-4 mb-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">Menu</a></li>
                    <li><a href="#" class="text-white">Order Online</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-3">
            <p class="mb-0">&copy; 2024 Online Food Ordering System. All rights reserved.</p>
        </div>
    </div>
</footer>




{% endblock content %}
    
    