{% extends 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% block title %}
     menu page 
       {% endblock title %}
    
</head>
<body>
    
    {% block content %}
        
<div class="container-fluid my-4">
  <div class="row">
      {% for menus in menu %}
      <div class="col-lg-4 col-md-6 mb-4">
          
          <div class="card h-100">
              <img src="{{ menu.image.url }}" class="card-img-top" alt="{{ menu.name }}">
              <div class="card-body">
                  <h5 class="card-name">name    :{{ menus.name }}   </h5>
                  <h6 class="card-subtitle mb-2 text-muted">price      :${{ menu.price }}</h6>
                  <p class="card-text">description     :{{ menus.discription }}</p>
                  <br> ID : {{menu.id}}
              </div> 
              <div class="card-footer">
                  <a href="{% url 'details' menu.id %}">
                      <button class="btn btn-primary">Order Now</button>
                  </a>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>

    
    {% endblock content %}
        
    
</body>
</html>